{% extends 'base.html' %}
{% block title %}Main Menu{% endblock title %}


{% block content %}
<div class="container mt-3 mb-3" style="width: 95%; height: 80%; font-size: 14px; overflow-y: scroll;">
<!-- sweet alert-->
    {% if form.errors %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            var m = "{{ form.nbmenudesc.errors|striptags }}";
            swal("Denied !", m, "error")
        </script>
        <div class="mt-5">
            {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="text-center alert alert-primary alert-dismissible fade show" role="alert">{{ message }}
                            <a href="{% url 'index' %}" type="button" class="btn btn-close" data-bs-dimiss="alert" aria-label="close"></a>
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST" class="card p-3 mt-5" autocomplete="off" novalidate style="display: inline-block;">
        {% csrf_token %}
        
        <div class="row">
            <div class="col-12">{{ form.nbmenudesc}}</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}
